# Игнориране на файла с паролите и ключовете
.env
.env.local

# Игнориране на огромните папки с инсталирани библиотеки (те нямат място в GitHub)
node_modules/
dist/
build/

# Игнориране на системни файлове
.DS_Store
Thumbs.db